{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Add Listing</h2>

    {% if user.is_authenticated %}
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="textarea" name="description" placeholder="Description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <input autofocus class="form-control" type="number" name="bid" placeholder="Starting Bid" required>
            </div>
            <div class="form-group">
                <input autofocus class="form-control" type="url" name="url" placeholder="Image URL">
            </div>
            <input class="btn btn-primary" type="submit" value="Add Listing">
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Register </a>in order to add a listing.</p>
    {% endif %}


{% endblock %}