{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
    {% if listing.image_url %}
        <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
    {% endif %}
    <div>
        <p>{{ listing.text_description }}</p>
        <p>Starting bid: {{ listing.starting_bid }}$</p>

        {{ highest_bid }}
       

        {% if user.is_authenticated %}
            <div class="actions">
                {% if in_watchlist %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="removeFromWatchlist" class="btn btn-primary" value="Remove from Watchlist">
                        {% if created_by == user %}
                            <input type="submit" name="closeListing" class="btn btn-danger" value="Close Listing">
                        {% endif %}
                    </form>
                {% else %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="addToWatchlist" class="btn btn-primary" value="Add to Watchlist">
                        {% if created_by == user %}
                            <input type="submit" name="closeListing" class="btn btn-danger" value="Close Listing">
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            {% if message %}
                <p class="alert">{{ message }}</p>
            {% endif %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Bid" name="bid">
            </form>
        {% endif %}

        <p>Listing created by <strong>{{ created_by }}</strong></p>
    </div>

{% endblock %}