{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
    {% if listing.image_url %}
        <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
    {% endif %}
    <div>
        <p>{{ listing.text_description }}</p>
        <p>Show Current Price</p>

        {% if user.is_authenticated %}
            <div class="actions">

                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="addToWatchlist" class="btn btn-primary" value="Add to Watchlist">
                    <input type="submit" name="closeListing" class="btn btn-danger" value="Close Listing">
                </form>
                
            
            </div>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Bid">
            </form>
        {% endif %}
    </div>

{% endblock %}